.section {
  position: relative;
  padding: 100px 20px;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  /* object-fit: fill; */
}

.inner {
  position: relative;
  z-index: 1;
  max-width: var(--max-width);
  margin: 0 auto;
}

.textBlock {
  max-width: 535px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 60px 0 100px;
}

.heading {
  font-family: var(--font-heading);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-semibold);
  line-height: 66px;
  color: var(--color-brown);
}


.bullets {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px
}

@media (max-width: 1601px) {
  .section {
    padding: 0px 20px 100px;
  }
}

@media (max-width: 1367px) {
  .textBlock {
    max-width: 410px;
  }
}

@media (max-width: 992px) {
  .backgroundImage {
    position: relative;
  }

  .section {
    padding: 0px 00px 00px;
  }

  .heading {
    font-size: 36px;
    line-height: 44px;
  }

  .textBlock {
    max-width: 100%;
    margin: 0px 0 50px;
    gap: 20px;
  }

  .bullets {
    margin-top: 20px;
    gap: 5px;
  }
}