.inner {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}


@media (max-width: 1367px) {
  .grid {
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
  }
}

@media (max-width: 578px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}