/* ── Heading Section ── */
/* .headerSection {
  margin-bottom: 32px;
} */

.heading {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 8px;
    font-family: var(--font-heading);
    color: var(--color-brown);
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    gap: 12px;
    flex-wrap: wrap;
}

.resultCount {
    font-size: 20px;
    line-height: 48px;
    color: var(--color-brown);
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

/* ── Product Grid ── */
.productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 30px;
}

/* ── Product Card ── */
.productCard {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.productCard:focus-visible {
    outline: 2px solid var(--color-gold-primary);
    outline-offset: 3px;
}

.productImageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    background: var(--color-gray-100);
    margin-bottom: 16px;
    /* overflow: hidden; */
    /* border: 1px solid #CFB480; */
}

.productImage {
    object-fit: contain;
    transition: transform 0.5s ease;
}

.productCard:hover .productImage {
    transform: scale(1.04);
}

.productContent {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
}

.productTitle {
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 106.667% */
}

.productDesc {
    font-family: var(--font-body);
    font-size: var(--fs-xs);
    color: var(--color-gray-600);
    line-height: var(--lh-relaxed);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.enquireBtn {
    flex: 1;
}

/* ------------------------RESPONSIVE STARTS HERE------------------------ */

@media (max-width: 1536px) {
    .heading {
        font-size: 40px;
        line-height: 48px;
    }

    .resultCount {
        line-height: 48px;
    }
}

@media (max-width: 1200px) {
    .productGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


@media (max-width: 576px) {
    .heading {
        font-size: 32px;
        line-height: 40px;
    }

    .resultCount {
        font-size: 12px;
        line-height: 24px;
    }

    .productGrid {
        grid-template-columns: 1fr;
    }
}

/* ------------------------RESPONSIVE ENDS HERE------------------------ */